[user]
	name = Devon Meunier
	email = devon.meunier@shopify.com
[push]
	default = current
[alias]
	squash = commit --amend --no-edit
	sync = pull --rebase origin master
	pp = !git pull --prune && git branch --merged | egrep -v master | xargs git branch -d
