[user]
	name = Devon Meunier
	email = devon.meunier@shopify.com
[push]
	default = current
[alias]
	squash = commit --amend --no-edit
	sync = pull --rebase origin main 
	pp = !git pull --prune && git branch --merged | egrep -v main| xargs git branch -d

[commit]
	gpgsign = true
